body {
    background-color: #d8bbff;
}
<<<<<<< HEAD
 p {
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> e969de1503c594caf561f5b40ae0e7b48f6870d4
>>>>>>> d4e417849e7ff35d280407776089a194a2ae152d
p{
>>>>>>> 3ecf2c1a0b89d95a1032788cf280758e9a82fb28
    font-family: 'Courier New';
}

a {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    transition: color 0.3s ease;
}

a:hover {
    color: #df0f88;
}

nav {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    background-color: #000000;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======

>>>>>>> 3ecf2c1a0b89d95a1032788cf280758e9a82fb28
.body-contact input[type="email"] {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 8ae614591f6dfe60aeef646d37c3335a38594351
>>>>>>> e969de1503c594caf561f5b40ae0e7b48f6870d4
>>>>>>> d4e417849e7ff35d280407776089a194a2ae152d
>>>>>>> 3ecf2c1a0b89d95a1032788cf280758e9a82fb28
